<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207890207320-g8kp4u6uvuebl4kege9404prkb4oadmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207890207320-g8kp4u6uvuebl4kege9404prkb4oadmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDYDYHlSKBRchx0_UmYdsiL7UzNLrYUedM</string>
	<key>GCM_SENDER_ID</key>
	<string>207890207320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Aisleep</string>
	<key>PROJECT_ID</key>
	<string>sleep-app-342dd</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-app-342dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207890207320:ios:2013cf21b181a92e78f02d</string>
</dict>
</plist>